<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.bromen.podgo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.PodGoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.newfeed.NewFeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.feeddetail.FeedDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.itunessearch.ItunesSearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            />
        
        <service
            android:name=".app.mediaplayer.MediaPlayerService"
            android:label="@string/media_service_name">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="me.bromen.podgo.action.PLAY_NEW_AUDIO" />
                <action android:name="me.bromen.podgo.action.QUEUE_NEW_AUDIO" />
                <action android:name="me.bromen.podgo.action.PLAY" />
                <action android:name="me.bromen.podgo.action.PAUSE" />
                <action android:name="me.bromen.podgo.action.PREVIOUS" />
                <action android:name="me.bromen.podgo.action.NEXT" />
                <action android:name="me.bromen.podgo.action.SEEK_REL" />
                <action android:name="me.bromen.podgo.action.SEEK_DIR" />
                <action android:name="me.bromen.podgo.action.STOP" />
            </intent-filter>
        </service>


        
    </application>

</manifest>